<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8"/>
        <meta title="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
        <!-- D3.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>

        <link href="../static/css/main.css" rel="stylesheet" />
        <title>정글고리</title>
        <script>
            const BTN_LIST = {
                "mbtiBtn"   : false,
                "locBtn"    : false,
                "schoolBtn" : false,
                "majBtn"    : false,
                "genBtn"    : false,
                "smkBtn"    : false
            }

            $(document).ready(function () {
                $('#mbtiBtn').click();
            });

            function setGraph(friendData, resultData){
                var imgFlag = $("#user_imgExr").val() =="" ? true : false;
                var imgUrl = imgFlag? "../static/img/default_image.jpg": "../static/upload/"+$("#user_info").val()+"."+$("#user_imgExr").val()

                NETWORK_DATA = {
                    "nodes" : [
                        {
                            "id"    : $("#user_info").val(),
                            "value" : 10,
                            "group" : "user",
                            "img"   : imgUrl
                        }
                    ] , "links": []
                }

                for(key in friendData){
                    var imgFlag = friendData[key] =="" ? true : false;
                    var imgUrl = imgFlag? "../static/img/default_image.jpg": "../static/upload/"+key+"."+friendData[key]
                    dataSet = {
                        "id"    : key,
                        "value" : 3,
                        "group" : null,
                        "img"   : imgUrl
                    }
                    NETWORK_DATA["nodes"].push(dataSet);
                }
                
                for(key in resultData){
                    
                    linkSet = {
                        "source"     : $("#user_info").val(),
                        "target"     : key,
                        "value"      : 5,
                        "lineColor" : Number(resultData[key]) >= 3? 'red': Number(resultData[key]) == 2? 'green':  'blue'
                    }
                    NETWORK_DATA["links"].push(linkSet);
                }

                networkGraph.createGraph();
            }

            var NETWORK_DATA = {};

            /*----------------------------------------------------------------------*/
            

            function changeSorter(newMode) {
                selectId = $(newMode);

                if(selectId.hasClass('active')){
                    selectId.removeClass('active')
                } else {
                    selectId.addClass('active')
                }

                $('.accoBtn').each(function(idx, item){
                    if($(this).hasClass('active')){
                        target = $(this).attr("id");
                        if(BTN_LIST[target] == false){
                            BTN_LIST[target] = true
                        } 
                    } else {
                        target = $(this).attr("id");
                        BTN_LIST[target] = false
                    }
                });
                
                getGraph(BTN_LIST);
            }

            function getGraph(jsonData) {
                $.ajax({
                    type: "POST",
                    url: "/main/search",
                    contentType : "application/json",
                    data: JSON.stringify(jsonData),
                    success: function (response) {
                        if (response['result'] == 'success') {
                            $(".g-holder").remove();
                            setGraph(response['friendData'], response['resultData']);
                        } else {
                            
                        }
                    }
                });
            }

            /******** network graph ********/
            var networkGraph = {
                createGraph : function(){
                    var links = NETWORK_DATA.links.map(function(d){
                                    return Object.create(d)
                                });
                    var nodes = NETWORK_DATA.nodes.map(function(d){
                                    return Object.create(d)
                                });
                    var color = function(d){
                        var scale = d3.scaleOrdinal(d3.schemeCategory10);
                        return (scale(d.group));
                    };
                    var fillCircle = function(g){
                        if(g == "user"){
                            return "yellow";
                        }else{
                            return "skyblue";
                        }
                    };

                    var width = 500;
                    var height = 350;

                    var simulation = d3.forceSimulation(nodes)
                            .force("link", d3.forceLink(links).id( function(d){ return d.id }))
                            .force("charge", d3.forceManyBody().strength(-100))
                            .force("center", d3.forceCenter(width / 2, height / 2))
                            .force("collide",d3.forceCollide().radius( function(d){ return d.value*8}) );


                    var svg = d3.select("#NETWORK_GRAPH")
                                .attr("viewBox", [0, 0, width, height]);
                    var gHolder = svg.append("g")
                                    .attr("class", "g-holder");
                    var link = gHolder.append("g")
                                    .attr("stroke-opacity", 0.6)
                                    .selectAll("line")
                                    .data(links)
                                    .join("line")
                                    .attr("stroke", function(d){ return d.lineColor})
                                    .attr("stroke-width", function(d){ return Math.sqrt(d.value*5)} )
                    var defs = svg.append('svg:defs');
                    var config = {
                        "avatar_size": 70
                    }

                    var node = gHolder.append("g")
                                .attr("class", "circle-node-holder")
                            .selectAll("g")
                                .data(nodes)
                                .enter()
                                .append("g")
                                .on("dblclick",function(d){ 
                                    nodeId = d.id
                                    var popupWidth = 900; // 팝업 창의 너비
                                    var popupHeight = 450; // 팝업 창의 높이
                                    var left = (window.screen.width - popupWidth) / 2; // 화면 가로 중앙
                                    var top = (window.screen.height - popupHeight) / 2; // 화면 세로 중앙

                                    window.open(
                                        "/detail?id="+nodeId, "_blank",  "width=" + popupWidth + ", height=" + popupHeight + ", left=" + left + ", top=" + top
                                    ); 
                                 })
                                .each(function(d){
                                    d3.select(this).append('clipPath')
                                    .attr('id','clipObj')  
                                    .append('circle')
                                    .attr('cx',config.avatar_size/2)
                                    .attr('cy',config.avatar_size/2)
                                    .attr('r',config.avatar_size/2);
                        
                                    d3.select(this)
                                    .append('image')
                                    .attr('xlink:href',d.img)
                                    .attr('width',config.avatar_size)
                                    .attr('height',config.avatar_size)
                                    .attr('transform','translate('+parseInt(-70+config.avatar_size/2)+','+parseInt(-70+config.avatar_size/2)+')')
                                    .attr('clip-path','url(#clipObj)');
                                }).call(networkGraph.drag(simulation));

                    simulation.on("tick", function(){
                        link.attr("x1", function(d){ return d.source.x; })
                            .attr("y1", function(d){ return d.source.y; })
                            .attr("x2", function(d){ return d.target.x; })
                            .attr("y2", function(d){ return d.target.y; });

                        node.attr("transform", function(d) { return "translate("+d.x+","+ d.y+")"; });
                    });

                    return svg.node();
                },
                drag : function(simulation){
                    function dragstarted(d) {
                        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
                        d.fx = d.x;
                        d.fy = d.y;
                    }

                    function dragged(d) {
                        d.fx = d3.event.x;
                        d.fy = d3.event.y;
                    }

                    function dragended(d) {
                        if (!d3.event.active) simulation.alphaTarget(0);
                        d.fx = null;
                        d.fy = null;
                    }

                    return d3.drag()
                        .on("start", dragstarted)
                        .on("drag", dragged)
                        .on("end", dragended);
                }
            }
            
            /*----------------------------------------------------------------------*/
            function openPop(targetId){ 
                 // 팝업 창을 고정된 크기와 위치로 엽니다
                var popupWidth = 700; // 팝업 창의 너비
                var popupHeight = 700; // 팝업 창의 높이
                var left = (window.screen.width - popupWidth) / 2; // 화면 가로 중앙
                var top = (window.screen.height - popupHeight) / 2; // 화면 세로 중앙
                window.open(
                    "/mod?id=" + $(targetId).attr("id"),
                    "_blank",
                    "width=" + popupWidth + ",height=" + popupHeight + ",left=" + left + ",top=" + top
                );
            }
        </script>
    </head>
    <body>
        <div class="mx-auto sorter-box mt-4">
            <div class="" style="height: 85px;">
                <input type="hidden" value="{{user_id}}" id="user_info"/>
                <input type="hidden" value="{{img}}" id="user_imgExr"/>
                <div class="" style="height: 50%;">
                    <a href="#" class="btn btn-primary" id="{{user_id}}" onclick="openPop(this)" style="float:left">
                        정보 수정
                    </a>
                    <a href="/logout" class="btn btn-primary" id="btn_logout" onclick="" style="float:right">
                        로그아웃
                    </a>
                </div>
                <div class="" style="height: 39%; border-top: 2px solid skyblue; border-bottom: 2px solid skyblue;">
                    <div style="width: 50%; float:left; text-align: center;">
                        <span >아이디 : {{user_id}}</span>
                    </div>
                    <div style="width: 50%; float:left; text-align: center;">
                        <span>이름 : {{user_name}}</span>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="btn-group" style="width: 100%; padding-left: 1vw; padding-right: 1vw;">
                    <a href="#" class="accoBtn btn btn-primary" id="mbtiBtn" value="mbti" onclick="changeSorter(this)">
                        MBTI    
                    </a>
                    <a href="#" class="accoBtn btn btn-primary" id="locBtn" value="loc" onclick="changeSorter(this)">
                        지역
                    </a>
                    <a href="#" class="accoBtn btn btn-primary" id="schoolBtn" value="school" onclick="changeSorter(this)">
                        학교
                    </a>
                    <a href="#" class="accoBtn btn btn-primary" id="majBtn" value="major" onclick="changeSorter(this)">
                        학과
                    </a>
                    <a href="#" class="accoBtn btn btn-primary" id="genBtn" value="gender" onclick="changeSorter(this)">
                        성별
                    </a>
                    <a href="#" class="accoBtn btn btn-primary" id="smkBtn" value="smk" onclick="changeSorter(this)">
                        흡연
                    </a>
                </div>
            </div>
            <div class="">
                <span class="d-flex justify-content-end">
                    <div id="trash-mode-box">
                    </div>
                    <div class="movie-list" id="movie-box">
                        <div class="card" style="min-height: 600px;">
                            <div class="netwrok-graph">
                                <svg id="NETWORK_GRAPH">
                                    
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>